@import "variables.scss";

body > #root > div {
  height: 100vh;
}

.root-div {
  background-color: $primaryColor;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

img {
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  width: 225px;
  height: 100px;
}

.image-div {
  background-color: white;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-image {
  // Image icon from the login user and pass
  height: 15px;
  width: 20px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 5px;
  margin-left: 5px;
}

.login-form {
  width: 300px;
  margin-bottom: 15px;
  margin: 10px auto;

  input {
    font-size: 1em;
    border: 1px solid rgba(999, 999, 999, 0);
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 35px;
    width: 100%;
    background-color: rgba(999, 999, 999, 0.2);
    color: white;
    font-size: 15px;
  }

  display: flex;
  flex-direction: row;
}

.form-group {
  margin-top: 50px;
  margin-bottom: 50px;
}

button {
  width: 125px;
  height: 45px;
  margin-bottom: 10px;
  font-size: large;
  margin-left: auto;
  margin-right: auto;
}

.white-round-button {
  border: 1px solid rgba(999, 999, 999, 0);
  background-color: white;
  border-radius: 0.3em;
  color: $primaryColor;
}

.orange-round-button {
  border: 1px solid rgba(999, 999, 999, 1);
  background-color: $primaryColor;
  color: white;
  border-radius: 0.3em;
}

h6 {
  margin: 0; // top right bottom left;
  font-weight: 400;
  font-size: 13px;
  color: white;
}